body {
	font-family:Arial;
	margin:0;
	padding:0;
	line-height:1.6;
}
.logo{width:80px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	
}
h1{background-color:#1E3A8A;
	color:#F9FAFB;
	text-align:center;
	padding:15px;
}
header{
	background-color:#F1F5F9;
	position:sticly;
	top:0;
	padding:10px 20px;
margin-top:10px;}

.content-box{
	border:2px solid #1E3A8A;
	border-radius:15px;
	padding:20px;
	margin:20px;
	background-color:rgba(255,255,255,0.9);
	text-align:justify;
	box-shadow:5px 5px blue;
}

.content-box h2{color:#1E3A8A;}


.button-container{text-align:center;
margin:20px 0}

.button{
	background-color:#1E3A8A;
	color:#F9FAFB;
	padding:10px 25px;
	border-radius:8px;
	text-decoration:none;
	display:inline-block;
	transition:background 0.3s;
}

.button:hover{background-color:#162F6A}

		.buttom-button {
			background-color:#0D9488;
	color:#F9FAFB;
	padding:10px 20px;
	border-radius:8px;
	text-decoration:none;
}


.buttom-button:hover{
	background-color:#06B65;}


footer{
		background-color:#1E3A8A;
	color:#F9FAFB;
	text-align:center;
	padding:15px;
	position:sticly;
	bottom:0;
	width:100%;
}

.gallary-grid{
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:20px;
	padding:20px;
}
.art-card{
	background:rgba(255, 255, 255,0.9);
	border:2px solid #1E3A8A;
	border-radius:10px;
	text-align:center;
	box-shadow:0 4px 8px;rgba(0,0,0,0.1);
	transition:transform 0.3s,box-shadow 0.3s;
}
.caption{
	color:#1E3A8A;
	font-weight:bold;
margin-top:10px;
}


.art-card:hover{
	transform:scal(1.05);
	box-shadow:0 10px 20px rgba(30, 58, 138,0.3);
}

.art-card img{
	max-width:100%;
border-radius:5px;}


	






	
	
	
	
	
	
	
	